@charset "UTF-8";

* {	
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: rgba(55, 116, 78, 0.68);
}

a {
	text-decoration: none;
	color: #f7f7f7;
}

a:focus, a:visited {
	text-decoration: none;
}

h2 {
	text-align: center;
	color: #f7f7f7;
	padding-top: 3vh;
	padding-bottom: 2vh;
}

h2 hr{
	width: 100%;
}

.animation {
	text-decoration: none;
	-webkit-trasition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}

#inMain {
	background-color:rgba(0,0,0,.5);
	height:100%;
	position:absolute;
	width:100%;
	top:0;
	left:0;
}

#mainButton {
	position: absolute;
	padding: 1%;
	background: rgba(0, 0, 0, 0);
	border: 2px solid rgba(248, 248, 248, 0.26);
	color: #c7bdc3;
	font-size: 22px;
	outline: none;
}

#mainButton:hover {
	background: rgba(204, 204, 204, 0.38);
	color: #f7f7f7;
	cursor: pointer;
}

.profileTeacher {
	padding: 5px;
	width: 155px;
	text-align: center;
	-webkit-border-radius: 15px;
	background-color: rgba(115, 186, 142, 0.6);
	border-radius: 15px;
	display: inline-block;
	margin: 20px;
}

.profileTeacher:hover {
	background-color: rgb(115, 186, 142);
	cursor: pointer;
}

.profilePhoto {
	margin: 2.5px;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.default {
	width:100%;
}

.fixed {
	position:fixed;
	top: -91vh; left:0;
	width:100%;
	/*-moz-box-shadow: 5px 5px 20px #333;*/
	/*-webkit-box-shadow: 5px 5px 20px #333;*/
	/*box-shadow: 5px 5px 20px #333;*/
	text-align: center;
}

.transbg {
	background-color: rgb(58, 105, 76);
	padding-top:1%;
	border-bottom: 1px solid rgb(58, 105, 76);
}

.transbg .navBarButton {
	background-color: rgba(216, 216, 216, 0);
	border: none;
	text-decoration: none;
	color: rgba(248, 248, 248, 0.86);
	font-weight: bolder;
	outline:none;
	font-family: "Times New Roman";
}

.headerLink:hover {
	color: #f8f8f8;
}

.transbg .headerLink {
	padding: 20px;
	margin: 0;
	border: 1px solid rgb(58, 105, 76);
}

.transbg .headerLink:hover {
	background-color: rgb(62, 115, 83);
	border-bottom: 1px solid rgba(248, 248, 248, 0.26);
}

.navBarButton:hover, .navBarButton:focus{
	background: rgba(204, 204, 204, 0.38);
	color: #f7f7f7;
	cursor: pointer;
}

#search {
	text-align: center;
}

#searchLine:focus {
	background-color: rgb(255, 255, 255);
	color: #999999;
	border: 2px solid rgb(255, 255, 255);
}

option {
	background-color: #e0e0e0;
	outline: none;
	color: black;
}

#resultSearch {
	margin: 10px auto;
	padding: 0 auto;
	width: 90%;
}

#sendMessage:hover {
	color: #989898;
	background-color: rgba(255, 255, 255, 0.91);
	cursor: pointer;
	border: 2px solid #f7f7f7;
}

#sendMessage:focus{
	border: 2px solid #e0e0e0;
	outline: none;
}

.fieldFeedback:focus, #message:focus {
	border: 2px solid rgba(208, 93, 80, 0.64);
	outline: none;
}

#feedback #messageShow {
	text-align: center;
	width: 100%;
	color: red;
}

@media (min-width: 900px) {

	#mainButton {
		margin-top: 50vh;
		margin-left: 47.5%;
	}

	#main {
		background: url("../img/mainbg.jpg") center;
		width: 100%;
		height: 100vh;
		display: inline-block;
		background-size: cover;
	}

	#menu {
		display: inline-block;
		width: 100%;
		margin-top: 89vh;
	}

	.headerLink, .slash{
		background-color: rgba(216, 216, 216, 0);
		border: none;
		text-decoration: none;
		color: rgba(216, 216, 216, .95);
		font-weight: bolder;
		margin-left: 20px;
		font-size: 1.4em;
		display: inline-block;
		outline:none;
		font-family: "Comic Sans MS";
	}

	#mobile-header, #visible-header, #navBarList {
		display: none;
	}

	.section {
		min-height: 83vh;
		width: 75%;
		background-color: rgba(69, 139, 96, 0.58);
		border: 1px solid #989898;
		margin: 11vh auto;
		padding: 10px;
		color: #f7f7f7;
	}

	#searchLine {
		display: inline-block;
		width: 75%;
		height: 30px;
		font-size: 18px;
		padding: 5px;
		outline: none;
		background-color: rgba(255, 255, 255, 0.33);
		color: #f7f7f7;
		border-radius: 5px;
	}

	#searchCategory {
		width: 75%;
		min-height: 10vh;
		background: rgba(255, 255, 255, 0.48);
		margin: 5px auto;
	}

	#searchCategory select{
		padding: 5px;
		outline: none;
		display: inline-block;
		margin: 20px;
		width: 20%;
		font-size: 1em;
		color: #989898;
		background-color: #fff;
	}

	#feedbackForm {
		margin: 0 auto;
		width: 70%;
		text-align: center;
	}

	.fieldFeedback, #sendMessage {
		display: inline-block;
		width: 100%;
		border-radius: 5px;
		border: 2px solid silver;
		padding: 5px;
		color: #989898;
		margin-bottom: 10px;
		font-size: 1.2em;
	}

	#message {
		display: inline-block;
		width: 100%;
		resize: none;
		height: 200px;
		border-radius: 5px;
		border: 2px solid silver;
		padding: 5px;
		color: #989898;
		margin-bottom: 10px;
		font-size: 1.3em;
	}
}

@media (max-width: 899px) and (min-width: 760px) {
	#main {
		background: url("../img/secondMainbBg.jpg") center;
		width: 100%;
		height: 100vh;
		display: inline-block;
		background-size: cover;
	}

	#mainButton {
		margin-top: 47vh;
		margin-left: 30%;
		width: 38%;
	}

	#menu {
		display: inline-block;
		width: 100%;
		margin-top: 89vh;
	}

	.headerLink, .slash{
		background-color: rgba(216, 216, 216, 0);
		border: none;
		text-decoration: none;
		color: rgba(216, 216, 216, .95);
		font-weight: bolder;
		font-size: 1.1em;
		display: inline-block;
		outline:none;
		margin-left: 20px;
		font-family: "Comic Sans MS";
	}
	#mobile-header, #visible-header, #navBarList {
		display: none;
	}

	.section {
		min-height: 83vh;
		width: 98%;
		background-color: rgba(69, 139, 96, 0.58);
		border-bottom: 1px solid #989898;
		padding: 1%;
		color: #f7f7f7;
	}

	#searchLine {
		display: inline-block;
		width: 90%;
		height: 30px;
		font-size: 18px;
		padding: 5px;
		outline: none;
		background-color: rgba(255, 255, 255, 0.33);
		color: #f7f7f7;
		border-radius: 5px;
	}

	#searchCategory {
		width: 90%;
		background: rgba(255, 255, 255, 0.48);
		margin: 3px auto;
	}

	#searchCategory select{
		padding: 5px;
		outline: none;
		display: inline-block;
		margin: 1%;
		width: 30%;
		font-size: 1em;
		color: #989898;
		background-color: #fff;
	}

	#feedbackForm {
		margin: 0 auto;
		width: 90%;
		text-align: center;
	}

	.fieldFeedback, #sendMessage {
		display: inline-block;
		width: 100%;
		border-radius: 5px;
		border: 2px solid silver;
		padding: 5px;
		color: #989898;
		margin-bottom: 10px;
		font-size: 1.2em;
	}

	#message {
		display: inline-block;
		width: 100%;
		resize: none;
		height: 250px;
		border-radius: 5px;
		border: 2px solid silver;
		padding: 5px;
		color: #989898;
		margin-bottom: 10px;
		font-size: 1.3em;
	}
}

@media (max-width: 759px) {
	#main {
		background: url("../img/secondMainbBg.jpg") center;
		width: 100%;
		height: 100vh;
		display: inline-block;
		background-size: cover;
	}
	#menu {
		display: inline-block;
		width: 98%;
		padding: 1%;
		margin-top: 91vh;
	}
	#mainButton {
		margin-top: 45vh;
		margin-left: 20%;
		width: 58%;
	}
	.headerLink, .slash{
		display: none;
	}

	#mobile-header {
		display: block;
		width: 100%;
	}

	#full-header {
		display: none;
	}

	#mobile-header #visible-header {
		width: 100%;
		float: left;
	}

	#mobile-header #visible-header #header-logo {
		display: inline-block;
		float: left;
	}

	#mobile-header #visible-header #navBar {
		background: url("../img/mobile-menu.png") center;
		background-size: cover;
		height: 35px;
		display: inline-block;
		float: right;
		width: 35px;
		text-align: right;
		border: 1px solid #747779;
		border-radius: 5px;
		cursor: pointer;
	}

	#mobile-header #visible-header #navBar:hover, #mobile-header #visible-header #navBar:focus {
		background-color: rgb(62, 115, 83);
	}

	#navBarList {
		display: none;
	}

	#navBarList ul {
		list-style-type: none;
	}
	.navBarButton {
		border-radius: 5px;
		padding: 1%;
		width: 98%;
		text-align: left;
		border: 1px solid rgba(0,0,0,0);
		background-color: rgba(0,0,0,0);
	}
	.section {
		min-height: 100vh;
		width: 98%;
		background-color: rgba(69, 139, 96, 0.58);
		border-bottom: 1px solid #989898;
		padding: 1%;
		color: #f7f7f7;
	}

	#searchLine {
		display: inline-block;
		width: 90%;
		height: 30px;
		font-size: 18px;
		padding: 5px;
		outline: none;
		background-color: rgba(255, 255, 255, 0.33);
		color: #f7f7f7;
		border-radius: 5px;
	}

	#searchCategory {
		width: 90%;
		background: rgba(255, 255, 255, 0.48);
		margin: 3px auto;
	}

	#searchCategory select{
		padding: 5px;
		outline: none;
		display: inline-block;
		margin: 1%;
		width: 30%;
		font-size: 10px;
		color: #989898;
		background-color: #fff;
	}
	#feedbackForm {
		margin: 0 auto;
		width: 90%;
		text-align: center;
	}

	.fieldFeedback, #sendMessage {
		display: inline-block;
		width: 100%;
		border-radius: 5px;
		border: 2px solid silver;
		padding: 5px;
		color: #989898;
		margin-bottom: 10px;
		font-size: 1.2em;
	}

	#message {
		display: inline-block;
		width: 100%;
		resize: none;
		height: 250px;
		border-radius: 5px;
		border: 2px solid silver;
		padding: 5px;
		color: #989898;
		margin-bottom: 10px;
		font-size: 1.3em;
	}
}

#sendMessage {
	background-color: rgba(255, 255, 255, 0.4);
	color: #f7f7f7;
	width: 60%;
}